{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for object in object_list %}
    <div class="col">
        <div class="card shadow-sm">
            <img class="card-img-top"
                 src="/media/{{ object.image }}"
                 alt="Изображение не найденно"
                 style="width: 200px; height: 200px;">

            <div class="card-body">
                <p class="card-text">
                    <ul>
                <li>{{ object.name }}</li>
                <li>Категория: {{ object.category }}</li>
                <li>{{ object.description|slice:100 }}...</li>
                <li>{{ object.price }} р.</li>
            </ul>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'catalog:prod_info' object.pk %}" class="btn btn-sm btn-outline-secondary">О товаре</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor %}
</div>
{% endblock %}