{% extends 'catalog/base.html' %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card shadow-sm">
            <img class="card-img-top"
                 src="/media/{{ object.image }}"
                 alt="Изображение не найденно"
                 style="width: 200px; height: 200px;">

            <div class="card-body">
                <p class="card-text">
                <ul>
                    <li>{{ object.name }}</li>
                    <li>Категория: {{ object.category }}</li>
                    <li>{{ object.description }}</li>
                    <li>Цена: {{ object.price }} р.</li>
                    <li>Дата создания: {{ object.date_of_creation }}</li>
                    <li>{% if object.last_modified_date %}
                        Дата изменения: {{ object.last_modified_date }}
                        {% endif %}
                    </li>
                </ul>
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}